# "Auto MPG" dataset

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# this tells jupyter to plot inline instead of a separate window
%matplotlib inline

In [53]:
autoDf = pd.read_csv("../data/autoMPG/auto-mpg-modified.data", delim_whitespace=True)

In [55]:
autoDf.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino