# "Auto MPG" dataset

### imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# this tells jupyter to plot inline instead of a separate window
%matplotlib inline

In [2]:
autoDf = pd.read_csv("../data/autoMPG/auto-mpg-modified.data", delim_whitespace=True)
autoDf.loc[30:35]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
30,28.0,4,140.0,90.00,2264.0,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95.00,2228.0,14.0,71,3,toyota corona
32,25.0,4,98.0,?,2046.0,19.0,71,1,ford pinto
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin
34,16.0,6,225.0,105.0,3439.0,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100.0,3329.0,15.5,71,1,chevrolet chevelle malibu

### deleting missing horsepower values

In [3]:
missingValueIndices = autoDf[autoDf.horsepower=='?'].index
autoDfDeleted = autoDf.drop(missingValueIndices)
autoDfDeleted.loc[30:35]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
30,28.0,4,140.0,90.00,2264.0,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95.00,2228.0,14.0,71,3,toyota corona
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin
34,16.0,6,225.0,105.0,3439.0,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100.0,3329.0,15.5,71,1,chevrolet chevelle malibu

### impute mean of all horsepower values

In [4]:
autoDf['horsepower'] = pd.to_numeric(autoDf['horsepower'], errors='coerce')
meanHorsepower = int(pd.to_numeric(autoDfDeleted['horsepower']).mean())
horsepower = autoDf['horsepower']

def mapping(s):
    if(s!=s):
        return meanHorsepower
    else:
        return s

horsepower = horsepower.apply(lambda s: mapping(s))
autoDfImputed = autoDf.copy()
autoDfImputed['horsepower'] = horsepower
autoDfImputed.loc[30:35]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
30,28.0,4,140.0,90.0,2264.0,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95.0,2228.0,14.0,71,3,toyota corona
32,25.0,4,98.0,104.0,2046.0,19.0,71,1,ford pinto
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin
34,16.0,6,225.0,105.0,3439.0,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100.0,3329.0,15.5,71,1,chevrolet chevelle malibu